* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
}

#s1 {
	position: relative;
	top: -344px;
	left: 404px;
}

#s2 {
	position: relative;
	top: -345px;
	left: 404px;
}

#s3 {
	position: relative;
	top: -346px;
	left: 404px;
}

#s4 {
	position: relative;
	top: -503px;
	left: 490px;
}

#s5 {
	position: relative;
	top: -504px;
	left: 490px;
}

#s6 {
	position: relative;
	top: -505px;
	left: 490px;
}

.winner {
	max-width: 100px;
	min-height: 100px;
	max-width: 300px;
	min-width: 300px;
}

.carta {
	max-width: 150px;
	min-height: 150px;
	max-width: 300px;
	min-width: 300px;
	position: absolute;
	top: 100px;
	left: 180px;
	display: none;
}

h5 {
	text-align: left;
}